---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactFormFull from '~/components/Forms/ContactFormFull.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <!-- Contact Form Section -->
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="py-12">
      
      <!-- Grid Layout: Text | Form -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-12 items-start border border-terminal-400 bg-terminal-bg-secondary shadow p-4 sm:p-6 lg:p-8 divide-x divide-terminal-400">
        
        <!-- Text Content Column -->
        <div class="space-y-6 md:pr-0 lg:pr-8">
          <div>
            <h2 class="text-3xl font-bold font-uav-mono text-terminal-500 text-glow-strong mb-4 text-center text-balance">Drop us a message today!</h2>
            <p class="text-terminal-400 font-kode text-lg">For quicker answers, explore our FAQs section below. You may find the solution you're looking for right there!</p>
          </div>
          
          <!-- Additional text content can go here -->
          <div class="space-y-4">
            <p class="text-terminal-400 font-kode text-lg">
              We're here to help and answer any questions you might have. We look forward to hearing from you!
            </p>
          </div>
        </div>
        
        <!-- Form Column -->
        <div class="md:pl-0 lg:pl-8">
          <div>
            <h2 class="text-3xl font-bold font-uav-mono text-terminal-500 text-glow-strong mb-4 text-center text-balance">Contact Me</h2>
          </div>
          <ContactFormFull />
        </div>
        
      </div>

    </div>
  </div>

  
</Layout>
