---
import Layout from '@layouts/Layout.astro';
/* import Header from '@components/widgets/Header.astro'; */
import Footer from '@components/Footer.astro';
/* import Announcement from '@components/widgets/Announcement.astro';
import ThemeSwitcher from '@components/ThemeSwitcher.astro'; */
import SidebarNav from '@components/SidebarNavV2.astro';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
const baseWidth = '200px';
const openWidth = '300px';
---

<Layout metadata={metadata}>
<!--   <slot name="announcement">
    <Announcement />
  </slot> -->
  <div class="flex min-h-screen">
    <SidebarNav 
      class="h-screen fixed top-0 left-0 transition-width duration-300 ease-in-out"
      baseWidth={baseWidth}
      openWidth={openWidth}
    />
    <main class={`w-[calc(100%-${baseWidth})] ml-auto transition-width duration-300 ease-in-out`}>
      <slot />
    </main>
  </div>
  <!-- <slot name="header">
    <Header {...headerData} isSticky showToggleTheme />
  </slot> -->
  <slot name="footer">
    <Footer />
  </slot>
  <!-- <ThemeSwitcher /> -->
</Layout>
